/** @format */

body {
    background-color: #ddd;
}

form {
    background: #222;
    padding: 5%;
    color: white;
    border-radius: 10px;
}

button,
select {
    width: 100%;
}
input {
    width: 98%;
}

.box {
    margin-bottom: 10px;
}

button {
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
